.main-title{
    line-height: 4.5rem;
}

@media (max-width: 700px) {
    #ga-logo{
        margin-left: 20%;
    }
    .hero-img{
        height: 65vh;
        margin-left: -180%;
        margin-top: 50%;
        z-index: 1000;
    }
    .blurbg{
        margin-top: -150%;
        margin-right: -75%;
        width: 220px;
        height: 220px;
    }
    .waves{
        margin-top: -250%;
        margin-left: -400%;
    }
    .card-container {
        overflow-x: auto; /* Allows horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
        width: 150vw;
        margin-left: -10%;
    }
    .card-container {
        display: flex;
        padding-left: 30px;
        margin-top: -300%;
        padding-bottom: 50%;
    }
    .cards {
        display: flex;
        gap: 60px;
        flex-wrap: nowrap; /* Prevents wrapping of cards */
    }
    .card {
        width: 40%; /* Shrinks the card width to 70% */
        height: 100%; /* Shrinks the card height to 70% */
        flex: 0 0 auto; /* Prevents shrinking beyond this width */
    }
    .card-desc{
        padding: 20px;
    }
    
    .footer{
        width: 500vw;
        margin-left: -250%;
        margin-right: 250%;
    }
}